<%-
    model_class = User
    page_context = :index
    title = nil #'.title'
    override_model_name = nil #t('model.user') #model_class.model_name.human

    page_title = get_page_title(title, page_context, override_model_name, model_class)
-%>

<%= render "shared/page_title",
           page_title: page_title
%>


<div class="span8">
  <table class="table table-condensed">
    <thead>
    <tr>
      <th>Username</th>
      <th>
        Email
        <br/>
        Provider
      </th>
      <th>Registered</th>
      <th>Role</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.full_name, user %></td>
          <td>
            <%= user.email %>
            <br/>
            <%= user.provider %>
          </td>
          <td><%= user.created_at.to_date %></td>
          <td><%= user.get_user_roles_name %></td>
          <td>
            <% if can? :edit, User %>
                <%= link_to('', edit_user_path(user), class: 'btn btn-mini btn-primary glyphicon glyphicon-edit') %>
            <% end %>
          </td>
          <td>
            <a data-toggle="modal" href="#role-options-<%= user.id %>" class="btn btn-mini btn-primary" type="button">Change
              role</a>
            <%= render user %>
          </td>
          <td><%= link_to('', user_path(user), data: {confirm: "Are you sure?"}, method: :delete, class: 'btn btn-mini btn-danger glyphicon glyphicon-trash') unless user == current_user %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
