<%-
    model_class = User
    page_context = :show
    title = nil #'.title'
    override_model_name = nil #t('model.user') #model_class.model_name.human

    new_path = nil
    back_path = users_path
    edit_path = edit_user_url(@user)
    destroy_path = user_path(@user)
    copy_path = nil

    page_title = get_page_title(title, page_context, override_model_name, model_class)
-%>

<%= render "shared/page_title",
           page_title: page_title
%>


<p>User: <%= @user.full_name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Gender: <%= @user.gender if @user.gender %></p>
<p>Roles: <%= @user.get_user_roles_name if @user.roles %></p>

<% unless @user.identity.nil? %>
    <h4>Identity</h4>
    <%= image_tag @user.identity.image %>
    <p>Provider: <%= @user.identity.provider %></p>
    <p>Email: <%= @user.identity.email %></p>
<% end %>



<%= render "shared/buttons/show_page_buttons",
           model_class: model_class,
           current_registry: @user,
           back_path: back_path,
           new_path: new_path,
           copy_path: copy_path,
           edit_path: edit_path,
           destroy_path: destroy_path %>
